@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  visibility: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Calibri, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.main-container {
  flex-grow: 1;
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin-left: 60px;
}
.navegation {
  background-color: #ffe17f;
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.navigation-top {
  width: 1041px;
  margin-left: 60px;
}
.navigation-bottom {
  width: 1041px;
  margin-left: 60px;
}
.navigation-list {
  margin: 0;
  padding: 0;
}

.main-index {
  width: 1160px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
.navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.navigation-item-bottom a {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main-products-slider {
  display: flex;
  justify-content: space-between;  
}
.slider {
  width: 560px;
}
.subtitle {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.details {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}
.parameter {
  font-size: 16px;
}
.categories {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.category-item-link {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}
li.category-item:nth-child(1) {
  background-image: url(../img/decor/virtual_reality.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
li.category-item:nth-child(2) {
  background-image: url(../img/decor/monopods.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
li.category-item:nth-child(3) {
  background-image: url(../img/decor/action_camera.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
li.category-item:nth-child(4) {
  background-image: url(../img/decor/fitness_bracelet.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
li.category-item:nth-child(5) {
  background-image: url(../img/decor/smart_watch.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
li.category-item:nth-child(6) {
  background-image: url(../img/decor/quadcopters.svg);
  background-repeat: no-repeat;
  height: 253px;
  width: 160px;
}
.tablinks {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
#delivery {
  background-image:url(../img/decor/delivery.svg);
  background-repeat: no-repeat;
}
#warranty {
  background-image: url(../img/decor/warranty.svg);
  background-repeat: no-repeat;
}
#credit {
  background-image: url(../img/decor/credit.svg);
  background-repeat: no-repeat;
}
.rare-order {
  background-image: url(../img/decor/delivery_rare.svg);
  background-repeat: no-repeat;
  background-color: #ebebeb;
  height: 100px;
  text-align: center;
  vertical-align: central;
}
.order-link {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}
.transport-company-item {
  list-style-type: disc;
  color: #ffc700;
}
.transport-company-item span {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.info-contacts {
  display: flex;
  justify-content: space-between;
}
.info {
  width: 560px;
}
.contacts {
  width: 560px;
}
.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}
.contacts-phone {
  color: #444444;
}
.mail {
  background-color: #ebebeb;
}
.mail-container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.page-footer {
  background-color: #444444;
  color: white;
}
.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}
.footer-left-section {
  width: 238px;
}
.footer-center-section {
  width: 458px;
}
.footer-right-section {
  width: 293px;
}
.page-footer-container .text-footer {
  font-size: 16px;
  line-height: 19px;
}
.page-footer-container .info-list-item a {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.page-footer-container .contacts-phone {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.inner-header {
  width: 1160px;
  margin: 0 auto;
}
.breadcrumbs-link {
  list-style-type: none;
  color: #444444;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.catalog-products-container {
  display: flex;

}
.catalog-subtitle-filter-container {
  width: 32.5%;
  background-color: #ebebeb;
}
.subtitle-catalog-container {
  background-color: #dcdcdc;
}
.subtitle-catalog {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 0.2em;
  width: 328px;
  margin: 0 0 0 auto;
  padding-left: 60px;
}
.catalog-filter {
  width: 328px;
  margin: 0 0 0 auto;
  padding-left: 60px;
}
.catalog-filter-title {
  color: #000000;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 20px;
}
.control-label {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.select-control {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.product-cards {
  width: 67.5%;
}
.product-list-pagination-container{
  width: 832px;
}
.product-card-link {
  text-decoration: none;
}
.product-card-title {
  color: #000000;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 24px;
}
.product-card-price {
  color: #444444;
  font-weight: 400;
  line-height: 21px;
}
.pagination-link {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-sorting {
  background-color: #ebebeb;
}
.catalog-sorting-container {
  width: 832px;
  margin: 0 auto 0 0;
}
.pagination {
  background-color: #ebebeb;
}

