@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Calibri, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  flex-grow: 1;
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin-top: 17px;
  margin-left: 60px;
  margin-bottom: -20px;
  z-index:1;
}
/*Нафигация*/
.navegation {
  background-color: #ffe17f;
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.navigation-top {
  width: 1075px;
  margin-left: 60px;
  margin-top: 49px;
  display: flex;
  justify-content:space-between;
}
.search-bar-form {
  box-sizing: border-box;
  position: relative;
  width: 516px;
  height: 40px;
}
.search-bar {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  padding-left: 35px;
  width: 516px;
  height: 40px;
  border-radius: 50px 50px 50px 50px;
}
.search-bar::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 16px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
}
.search-bar-input {
  box-sizing: border-box;
  background-color: RGBA(255,255,255,0);
  vertical-align: central;
  width: 324px;
  padding: 0 0 0 20px;
  border: none;
  outline: none;
}
.search-bar-input::-webkit-input-placeholder {
  color: RGBA(0,0,0,0.3);
}
.search-bar-input::-moz-placeholder {
  color: RGBA(0,0,0,0.3);
}
.search-bar-input:-ms-input-placeholder {
  color: RGBA(0,0,0,0.3);
}
.search-bar:hover .search-bar-input::-webkit-input-placeholder {
  color: RGBA(0,0,0,0.6);
}
.search-bar:hover .search-bar-input::-moz-placeholder {
  color: RGBA(0,0,0,0.6);
}
.search-bar:hover .search-bar-input:-ms-input-placeholder {
  color: RGBA(0,0,0,0.6);
}
.search-bar:focus {
  outline: solid 3px #af4fff;
}
.search-bar:active {
  border: solid 2px black;
}
.search-bar:active .search-bar-button {
  display: block;
  border-left: solid 2px black;
}
.search-bar-button {
  display: none;
  box-sizing: border-box;
  background-color: RGBA(255,255,255,0);
  border: none;
  padding: 0;
  width: 160px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 0 50px 50px 0;
}
.search-bar-button-active {
  display: block;
  border: solid 2px black;
}
.search-bar-button-active:focus {
  outline: none;
  border-color: #af4fff;
}
.search-bar-button-active:hover {
  background-color: black;
  color: white;
}
.search-bar-button-active:active {
  background-color: black;
  color: RGBA(255, 255, 255, 0.3);
  border: none;
}
.navigation-list {
  width: 535px;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation-list li {
  position: relative;
}
.navigation-item-entrance {
  margin-right: auto;
}
.navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  height: 40px;
  padding: 10px;
}
.navigation-link:focus {
  outline: none;
  border: solid 3px #af4fff;
  border-radius: 50px;
}
.navigation-link:hover {
  opacity: 0.6;
}
.navigation-link:active {
  opacity: 0.3;
  border: none;
}
.entrance {
  width: 117px;
  padding-left: 46px;
}
.entrance::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 13px;
  left: 21px;
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  }
.compare {
  width: 136px;
  padding-left: 41px;
}
.compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  top: 13px;
  left: 21px;
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
}
.basket {
  width: 131px;
  padding-left: 44px;
}
.basket::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  top: 11px;
  left: 18px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
}
.navigation-bottom {
  width: 1081px;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
}
.catalog-bottom {
  display: flex;
}
.other-bottom:last-child {
  margin-left: 40px;
}
.navigation-item-bottom a {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 50px;
  padding: 14px 20px 15px 20px;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.other-bottom a:focus {
  outline: none;
  border: solid 3px #af4fff;
  border-radius: 50px;
}
.other-bottom a:hover::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: black;
  top: 40px;
}
.other-bottom a:active {
  opacity: 0.3;
  border: none;
}
.catalog-bottom {
  margin-right: auto;
}
.catalog-bottom a {
  position: relative;
}
.catalog-bottom a::after {
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  left: 270px;
  top: 0;
}
.catalog-bottom a:focus {
  outline: none;
  border: solid 3px #af4fff;
  border-radius: 50px;
}
.catalog-bottom a:hover::after{
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 50%;
  background-image: url("../img/icons/minus.svg");
  background-position: center;
}
.catalog-bottom a:active {
  opacity: 0.3;
  border: none;
}
/*Слайдер*/
.main-products {
  width: 1160px;
  margin: 0 auto;
}
.main-products-slider {
  display: flex;
  justify-content: space-between;  
}
.slider-left {
  width: 560px;
  display: flex;
  align-items: center;
}
.slider-button {
  z-index: 1;
  background-color: RGBA(255,255,255,0);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 80px;
}
.slider-button:focus {
  outline: none;
  border: solid 2px #af4fff;
  border-radius: 5px;
}
.slider-button:hover {
  opacity: 0.6;
}
.slider-button:active {
  opacity: 0.2;
  border: none;
}
.slider-prev {
  background-image: url(../img/icons/left_tall_arrow.svg);
  margin-right: -50px;
}
.slider-next {
  background-image: url(../img/icons/right_tall_arrow.svg);
  margin-left: -45px;
}
.slider-right {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}
.slider-right .subtitle {
  width: 560px;
  height: 110px;
  margin: 0;
  margin-top: 120px;
}
.slider-right .description {
  width: 560px;
  height: 80px;
  margin: 0;
  margin-top: 19px;
}
.slider-right .details {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  margin: 0;
  padding: 14px 0 16px 0;
  text-align: center;
  margin-right: 200px;
}
.slider-right .details::before {
  content:"";
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: -1;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}
.slider-right .details:focus {
  outline: none;
}
.slider-right .details:focus::before {
  background-color: #af4fff;
}
.slider-right .details:hover {
  background-color: #ffe17f;
}
.slider-right .details:active {
  background-color: #ffe17f;
  opacity: 0.3;
}
.slider-right .details:active::before {
  opacity: 0;
}
.slider-pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.slider-pagination-item {
  padding-right: 22px;
}
.slider-pagination-button {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px black;
  border: 0;
  padding: 0;
}
.slider-pagination-button-current {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  padding: 0;
}
.slider-pagination-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}
.slider-pagination-button:hover {
  opacity: 0.6;
}
.slider-pagination-button:active {
  opacity: 0.3;
}
.specifications {
  margin-right: 20px;
}
.parameter {
  margin: 0;
}
.subtitle {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.details {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}
.parameter {
  font-size: 16px;
}
/*Категории товаров*/
.product-categories {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.categories {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 200px;
}
.category-item-link {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
  width: 160px;
  display: block;
}
.category-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 160px;
}
.category-item:nth-child(1) .category-item-link::before {
  background-image: url(../img/decor/virtual_reality.svg);
}
.category-item:nth-child(2) .category-item-link::before {
  background-image: url(../img/decor/monopods.svg);
  background-position-y: bottom;
}
.category-item:nth-child(3) .category-item-link::before {
  background-image: url(../img/decor/action_camera.svg);
}
.category-item:nth-child(4) .category-item-link::before {
  background-image: url(../img/decor/fitness_bracelet.svg);
}
.category-item:nth-child(5) .category-item-link::before {
  background-image: url(../img/decor/smart_watch.svg);
}
.category-item:nth-child(6) .category-item-link::before {
  background-image: url(../img/decor/quadcopters.svg);
}
.category-item-link:focus {
  outline: none;
  color: #af4fff;
}
.category-item-link:focus::before {
  border: solid 5px #af4fff;
}
.category-item-link:hover::before {
  background-color: #ffc700;
}
.category-item-link:active {
  opacity: 0.3;
  color: black;
}
.category-item-link:active::before {
  border: none;
}
/*Секция со ссылками "табами"*/
.tablinks {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.delivery {
  background-image: url(../img/decor/delivery.svg);
  background-position-x: 680px;
  background-position-y: 90px;
  background-repeat: no-repeat;
}
.warranty {
  background-image: url(../img/decor/warranty.svg);
  background-position-x: 680px;
  background-repeat: no-repeat;
}
.credit {
  background-image: url(../img/decor/credit.svg);
  background-position-x: 680px;
  background-repeat: no-repeat;
}
.conditions {
  background-color: #ebebeb;
}
.condition-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}
.tab {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 80px;
  position: relative;
}
.tab::after{
  content:"";
  width: 7px;
  height: 319px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
}
.tabcontent {
  width: 880px;
}
.tab .tablinks {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  padding: 9px 0 11px 0;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 0;
}
.tab .tablink-current {
  background-color: black;
  color: #ffe17f;
  box-shadow: 120px 0px black;
}
.tab .tablinks::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #ffc700;
  left: 0px;
  top: 14px;
  z-index: -1;
}
.tab .tablink-current::after {
  background-color: black;
}
.tab .tablinks:focus {
  outline: none;
}
.tab .tablinks:focus::after {
  background-color: #af4fff;
}
.tab .tablink-current:focus::after {
  background-color: black;
}
.tab .tablinks:hover {
  background-color: #ffc700;
}
.tab .tablink-current:hover {
  background-color: black;
}
.tab .tablinks:active {
  background-color: black;
  color: #ffe17f;
  box-shadow: 120px 0px black;
}
.tab .tablinks:active::after {
  background-color: black;
}
.tabcontent .subtitle {
  padding: 0;
  margin: 75px 0 25px 116px;
}
.tabcontent p {
  padding: 0;
  margin: 0 0 0 116px;
  width: 497px;
}
/*Секция с доствакой редких товаров*/
.rare-order {
  margin: 0 auto;
  margin-top: 90px;
  width: 1160px;
}
.order-link {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: #ebebeb;
  height: 100px;
  padding: 37px 125px 43px 125px;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}
.order-link::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  background-image: url(../img/decor/delivery_rare.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
  left: 0;
  top: 0;
}
.order-link::before {
  position: absolute;
  content:"";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/icons/info.svg);
  background-position: center;
  opacity: 0.5;
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  top: 29px;
  right: 33px;
}
.order-link:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.order-link:hover::after {
  background-color: #ffc700;
}
.order-link:hover::before {
  opacity: 1;
}
.order-link:active {
  opacity: 0.3;
  border: none;
}
.transport-company-item {
  list-style-type: disc;
  color: #ffc700;
}
.transport-company-item span {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
/*Секция с информацией и контактами*/
.info-contacts {
  margin: 0 auto;
  margin-top: 97px;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}
.info-contacts .subtitle {
  position: relative;
}
.info-contacts .subtitle::after {
  position: absolute;
  content:"";
  width: 80px;
  height: 7px;
  top: -50px;
  left: 0px;
  background-color: black;
}
.form-text {
  margin-left: auto;
  position: relative;
}
.form-text::before {
  content:"";
  background-image: url(../img/icons/tick_big.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: -40px;
}
.info {
  width: 560px;
  display: flex;
  flex-direction: column;
}
.contacts {
  width: 560px;
}
.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}
.info .details {
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  margin: 0;
  padding: 14px 0 16px 0;
  text-align: center;
  margin-top: auto;
  position: relative;
}
.info-contacts .details::before{
  position:absolute;
  content:"";
  width: 259px;
  height: 8px;
  background-color: #ffe17f;
  top: 20px;
  left: 0px;
  z-index:-1;
}
.contacts .details {
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  margin: 0;
  padding: 14px 0 16px 0;
  text-align: center;
  margin-top: auto;
  position: relative;
}
.info-contacts .details:focus {
  outline: none;
}
.info-contacts .details:focus::before {
  background-color: #af4fff;
}
.info-contacts .details:hover {
  background-color: #ffe17f;
}
.info-contacts .details:active {
  background-color: #ffe17f;
  opacity: 0.3;
}
.info-contacts .details:active::before {
  opacity: 0;
}
.contacts-phone {
  color: #444444;
}
/*Секция с формой*/
.mail {
  background-color: #ebebeb;
  margin-top: 87px;
}
.mail-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mail-container .subtitle {
  margin-top: 75px;
  width: 601px;
}
.mail-container .text {
  margin-top: 86px;
  width: 559px;
}
.newsletter-form {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 131px;
}
.newsletter-email {
  width: 601px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
}
.field {
  width: 601px;
  height: 52px;
  padding: 0;
  border: 0;
  background-color: RGBA(0, 0, 0, 0);
  border-bottom: solid 3px black;
  opacity: 0.1;
}
.field:focus {
  outline: none;
  background-color: #dcdcdc;
}
.field:hover {
  opacity: 0.2;
}
.field:active {
  opacity: 1;
}
.field:invalid {
  opacity: 1;
  border-color: #ff3d3d;
}
.button {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.newsletter-button {
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
  border: solid 3px #dcdcdc;
  background-color: #ebebeb;
}
.newsletter-button:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.newsletter-button:hover {
  background-color: black;
  color: white;
}
.newsletter-button:active {
  color: #444444;
  border: none;
}
/*Подвал страницы*/
.page-footer {
  background-color: #444444;
}
.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer-left-section {
  flex-basis: 240px;
  margin: 0;
  padding: 0;
}
.logo-yellow {
  margin-top: 62px;
}
.text-footer {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  font-size: 16px;
  line-height: 19px;
}
.text-footer::after {
content:"";
position: absolute;
background-color: #ffc700;
width: 80px;
height: 7px;
top: 110px;
left: 0px;
}
.footer-center-section {
  flex-basis: 505px;
  margin: 0;
  padding: 0;
}
.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
  padding: 0;
  margin-top: 123px;
}
.info-list-item a {
  display: block;
  position: relative;
  width: 125px;
  height: 21px;
  padding: 14px 20px 15px 20px;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.info-list-item a:focus {
  outline: none;
  border: solid 3px #af4fff;
  border-radius: 50px;
}
.info-list-item a:hover {
  color: #ffc700; 
}
.info-list-item a:hover::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #ffc700;
  top: 40px;
}
.info-list-item a:active {
  opacity: 0.3;
  border: none;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 62px;
}
.footer-social-list a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 7px;
  background-color: RGBA(255,255,255,0.3);
  border-radius: 50%;
}
.footer-social-item a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  top: 12px;
  left: 12px;
}
.footer-social-item .fb::before {
  background-image: url(../img/icons/facebook.svg);
}
.footer-social-item .fb:focus::before {
  background-image: url(../img/icons/facebook_white.svg);
}
.footer-social-item .fb:active::before {
  background-image: url(../img/icons/facebook.svg);
  opacity: 0.3;
}
.footer-social-item .insta::before {
  background-image: url(../img/icons/instagram.svg);
}
.footer-social-item .insta:focus::before {
  background-image: url(../img/icons/instagram_white.svg);
}
.footer-social-item .insta:active::before {
  background-image: url(../img/icons/instagram.svg);
  opacity: 0.3;
}
.footer-social-item .tw::before {
  background-image: url(../img/icons/twitter.svg);
}
.footer-social-item .tw:focus::before {
  background-image: url(../img/icons/twitter_white.svg);
}
.footer-social-item .tw:active::before {
  background-image: url(../img/icons/twitter.svg);
  opacity: 0.3;
}
.footer-social-item a:focus {
  outline: none;
  border: solid 5px #af4fff;
  background-color: RGBA(255,255,255,0);
}
.footer-social-item a:hover {
  background-color: #ffc700;
}
.footer-social-item a:active { 
  border: none;
}
.footer-right-section {
  flex-basis: 240px;
  margin: 0;
  padding: 0;
}
.footer-right-section .contacts-phone {
  display: block;
  width: 174px;
  height: 19px;
  margin-left: auto;
  margin-top: 133px;
  padding: 3px 15px 5px 15px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.footer-right-section .contacts-phone:focus {
  outline: none;
  border: solid 3px #af4fff;
}
.footer-right-section .contacts-phone:hover {
  color: #ffc700;
}
.footer-right-section .contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
  border: none;
}
.about-text {
  margin: 0;
  padding: 0;
  margin-top: 63px;
}
.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
  padding: 10px;
  margin-left: auto;
  margin-top: 63px;
  background-image: url(../img/icons/htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.htmlacademy-link:focus {
  outline: none;
  border: solid 3px #af4fff;
}
.htmlacademy-link:hover {
  background-image: url(../img/icons/htmlacademy_white.svg);
}
.htmlacademy-link:active {
  background-image: url(../img/icons/htmlacademy_white.svg);
  opacity: 0.3;
  border: none;
}
/*Каталог*/
.inner-header {
  width: 1160px;
  margin: 0 auto;
}
.inner-header .subtitle {
  margin: 39px 0 0 60px;
  padding: 0;
}
/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  margin: 12px 0 0 47px;
  padding: 0;
}
.breadcrumbs-link {
  list-style-type: none;
  color: RGBA(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 10px 0 0;
  padding: 5px 12px 6px 13px;
}
.breadcrumbs-link:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.breadcrumbs-link:hover {
  color: RGBA(0, 0, 0, 1);
}
.breadcrumbs-link:active {
  color: RGBA(0, 0, 0, 0.3);
  border: none;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after {
  content: "";
  background-image: url(../img/icons/nav_arrow.svg);
  opacity: 0.3;
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 13px;
  margin-left: 20px;
}
/**/
.catalog-products {
  margin: 49px 0 0 0;
}
.catalog-products-container {
  display: flex;
}
.catalog-subtitle-filter-container {
  width: 328px;
  background-color: #ebebeb;
  margin-left: auto;
}
/*"Фильтр"*/
.subtitle-catalog-container {
  box-sizing: border-box;
  background-color: #dcdcdc;
  height: 70px;
  padding-top: 25px;
}
.subtitle-catalog {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 0.2em;
  width: 328px;
  margin: 0;
  padding-left: 60px;
}
.catalog-filter {
  width: 328px;
  margin: 0 0 0 auto;
  padding-left: 60px;
}
.catalog-filter-title {
  color: #000000;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 20px;
}
.catalog-filter {
  padding: 0;
  margin: 71px 0 0 60px;
  width: 200px;
}
.control-label {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.select-control {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.catalog-filter .tablinks {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 0;
}
.catalog-filter .tablinks::after {
  content: "";
  position: absolute;
  background-color: #ffc700;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 16px;
  z-index: -1;
}
/*тут фокус задал тенями, так как иначе псевдоэлемент сползает чуть вниз*/
.catalog-filter .tablinks:focus {
  outline: none;
  box-shadow: 0 0 0 3px #af4fff;
}
.catalog-filter .tablinks:hover {
  background-color: #ffc700;
}
.catalog-filter .tablinks:active {
  background-color: #ffc700;
  color: RGBA(0, 0, 0, 0.3);
  box-shadow: none;
}
.product-cards {
  width: 832px;
  margin-right: auto;
}
/*Карточки товаров*/
.product-list {
  margin: 69px 0 0 72px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 44px;
}
.product-list-pagination-container{
  width: 832px;
}
.product-card-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
  text-decoration: none;
}
.product-card {
  display: flex;
}
.product-card-link:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.product-card-link:hover {
  opacity: 0.4;
  z-index: -2;
}
.product-card-link:hover~.tablinks {
  display: block;
}
.product-card .tablinks {
  position: relative;
  display: none;
  box-sizing: border-box;
  padding: 9px 10px 11px 10px;
  text-align: center;
  width: 180px;
  height: 40px;
  margin-top: 170px;
  margin-left: -270px;
}
.product-card .tablinks::after {
  content:"";
  position: absolute;
  background-color: #ffc700;
  width: 180px;
  height: 8px;
  left: 0px;
  top: 15px;
  z-index: -1;
}
.product-card .tablinks:hover{
  display: block;
  background-color: #ffc700;
}
.product-card .tablinks:active{
  display: block;
  background-color: #ffc700;
  color: RGBA(0, 0, 0, 0.3); 
}
.product-card-title {
  margin: 32px 0 0 0;
  max-width: 260px;
  color: #000000;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.product-card-price {
  margin: 32px 0 0 0;
  color: #444444;
  font-weight: 400;
  line-height: 21px;
}
.pagination-link {
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}
/*Сортировка*/
.catalog-sorting {
  background-color: #ebebeb;
}
.catalog-sorting-container {
  width: 832px;
  height: 70px;
  display: flex;
  margin: 0;
}
.sorting-type {
  align-self: center;
}
.select-control {
  background-color: RGBA(0, 0, 0, 0);
  width: 217px;
  height: 40px;
  padding: 0 23px 0 13px;
  border: none;
}
.select-control:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.select-control:hover {
  opacity: 0.6;
}
.select-control:active {
  opacity: 0.3;
  border: none;
}
.arrow {
  background-image: url(../img/icons/sort_up.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  align-self: center;
  opacity: 0.2;
}
.arrow-up {
  margin-left: auto;
}
/*подгрузил дополнительно серые стрелочки, если менять цвет через opacity то рамка фокуса тоже светлеет*/
.arrow-up:focus {
  background-image: url(../img/icons/sort_up_grey.svg);
}
.arrow-down {
  transform: rotate(180deg);
}
.arrow-down:focus {
  background-image: url(../img/icons/sort_up_grey.svg);
}
.arrow-current {
  opacity: 1;
}
.arrow:focus {
  outline: none;
  border: solid 5px #af4fff;
  opacity: 1;
}
.arrow:hover {
  opacity: 0.5;
}
.arrow:active {
  border: none;
  opacity: 1;
}
.catalog-sorting-container .subtitle-catalog {
  width: 150px;
  align-self: center;
  margin: 0 30px 0 72px;
  padding: 0;
}
/*Кнопка загрузить ещё*/
.pagination-show-more {
  width: 760px;
  height: 55px;
  margin: 44px 0 0 72px;
  background-color: white;
  border: solid 3px #ebebeb;
}
.pagination-show-more:focus {
  outline: none;
  border: solid 5px #af4fff;
}
.pagination-show-more:hover {
  outline: none;
  border: solid 3px black;
}
.pagination-show-more:active {
  border: solid 3px black;
  opacity: 0.3;
}
/*Пагинация*/
.pagination {
  margin: 51px 0 77px 72px;
  padding: 0;
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
  display: flex;
}
.pagination-item {
  align-self: center;
}
.pagination-item:first-child {
  margin-right: auto;
}
.pagination-item:last-child {
  margin-left: auto;
}
.pagination-item .pagination-link {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Rubik, Calibri, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
  color: RGBA(68,68,68, 0.3);
  width: 38px;
  height: 38px;
  padding: 8px 16px 11px 15px;
}
.pagination-item .pagination-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px #af4fff;
}
.pagination-item .pagination-link:hover {
  color: RGBA(68,68,68, 1);
}
.pagination-item .pagination-link:active {
  color: RGBA(68,68,68, 0.1);
  box-shadow: none;
}

.pagination-button {
  display: block;
  box-sizing: border-box;
  height: 70px;
  padding: 27px 29px 27px 29px;
  text-decoration: none;
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: black;
}
.pagination-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px #af4fff;
}
.pagination-button:hover {
  background-color: #dcdcdc;
}
.pagination-button:active {
  background-color: #dcdcdc;
  opacity: 0.3;
  box-shadow: none;
}

